.blog {
	padding-top: 100px;
	padding-bottom: 100px;
	.blog__container {
		.blog__header {
			margin-bottom: 64px;
			.heder-main__label {
			}
			.header-main__title {
			}
			.header-main__body {
				.header-main__text {
				}
			}
			@media (max-width: 991.98px) {
				margin-bottom: 44px;
			}
			@media (max-width: 767.98px) {
				margin-bottom: 25px;
			}
		}
		.blog__items {
			display: grid;
			gap: 48px;
			grid-template-columns: repeat(3, 1fr);
			.blog__item {
			}
			.item-blog {
				border-radius: 24px;
				background: rgba(129, 129, 139, 0.1);
				overflow: hidden;
				display: flex;
				flex-direction: column;
				min-height: 100%;
				.item-blog__header {
					position: relative;
					.item-blog__category {
						position: absolute;
						bottom: 0;
						left: 0;
						border-radius: 0px 10px 0px 0px;
						background: rgba(129, 129, 139, 0.5);
						padding: 9px 9.8px 9px 10px;
						color: #fff;
						font-size: 14px;
						font-weight: 300;
						line-height: 1.6; /* 160% */
					}
					.item-blog__image {
						display: block;
						position: relative;
						padding-bottom: 49%;
						& img {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							object-fit: cover;
						}
					}
				}
				.item-blog__body {
					padding: 38px 26px;
					display: grid;
					gap: 25px;
					.item-blog__date {
						color: rgba(129, 129, 139, 0.9);
						font-size: 16px;
						font-weight: 300;
						line-height: 1.5; /* 150% */
					}
					.item-blog__title {
						color: #fff;
						font-size: 19px;
						font-weight: 400;
						line-height: 1.4;
						max-width: 322px;
						.item-blog__link-title {
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.item-blog__text {
						color: #9c9c9c;
						font-size: 16px;
						font-weight: 300;
						line-height: 1.5; /* 150% */
					}
					.item-blog__link {
						color: #3d96f4;
						width: 69px;
						font-size: 14px;
						font-weight: 300;
						line-height: 1.6; /* 160% */

						&:hover {
							text-decoration: underline;
						}
					}
					@media (max-width: 1110px) {
						padding: 25px 15px;
					}
				}
			}
			@media (max-width: 1110px) {
				gap: 20px;
			}
			@media (max-width: 767.98px) {
				grid-template-columns: auto;
			}
		}
	}
	@media (max-width: 991.98px) {
		padding: 50px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 30px 0px;
	}
}
